html, body { 
  height: 100%;
}

main {
  margin-left: 280px;
}

#sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 280px;
  border-right: 1px solid #eee;
  justify-content: stretch;
}

#people {
  min-width: 200px;
  min-height: 200px;
  flex: 1 4 auto;
  display: flex;
  flex-direction: column;
}

#people-options {
  font-size: 80%;
}

.people-category-label {
  font-size: 80%;
  font-weight: bold;
}

#hint-empty-group {
  font-size: 80%;
  font-style: italic;
}

.skill-value {
  font-weight: 600;
  color: #1a6441;
}

#people .in-group {
  background-color: #72b998;
}

#people-list {
  overflow-y: scroll;
  margin-top: 0.25rem;
}

#people .toggle-group-button {
  cursor: pointer;
}

#details {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  min-height: 30px;
}

#details.collapsed {
  flex: 0 0 auto;
}

#details.collapsed .details-no-data,
#details:not(.no-data) .details-no-data {
  display: none;
}

.details-data {
  overflow: auto;
  margin: 0 -.5rem;
  padding: 0 .5rem;
}
#details.collapsed .details-data,
#details.no-data .details-data {
  display: none !important;
}

#details h4 {
  font-size: 110%;
  font-weight: 300;
  color: #555;
}

#details .label {
  font-weight: 600;
}

#details .freetext {
  font-size: 91%;
}

#details .skill-table th,
#details .skill-table td {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

#visuals {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.main-card {
  max-width: 600px;
  padding: 8px;
  border: 1px solid #dee2e6;
  margin: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.student {
  background-color: white;
  cursor: pointer;
}

.student:not(.in-group).activeStudent {
  background-color: beige; /* TODO: pick a better color */
}

.student.in-group.activeStudent {
  background-color: beige !important;
  border-color: #72b998 !important;
}

.vis-word-cloud text {
  cursor: pointer;
}

.hidden {
  display: none;
}

.legend-clickable {
  cursor: pointer;
}

#details-close-btn {
  cursor: pointer;
}