html, body { 
  height: 100%;
}


#sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 250px;
  border-right: 1px solid #eee;
  justify-content: stretch;
}

#people {
  min-width: 200px;
  min-height: 200px;
  flex: 1 4 auto;
  display: flex;
  flex-direction: column;
}

#people-options {
  font-size: 80%;
}

#people .skill-value {
  font-weight: 600;
  color: #1a6441;
}

#people .in-group {
  background-color: #72b998;
}

#people-list {
  overflow-y: scroll;
}

#details {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  min-height: 30px;
}

#details.collapsed {
  flex: 0 0 auto;
}

.details-data {
  overflow: auto;
}
#details.collapsed .details-data {
  display: none !important;
}

main {
  margin-left: 250px;
}

.main-card {
  padding: 8px;
  border: 1px solid #dee2e6;
  margin: 8px 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.student {
  background-color: white;
}

.student:not(.in-group).activeStudent {
  background-color: beige; /* TODO: pick a better color */
}

.student.in-group.activeStudent {
  background-color: beige !important;
  border-color: #72b998 !important;
}

.vis-word-cloud text {
  cursor: pointer;
}

.hidden {
  display: none;
}

.legend-clickable {
  cursor: pointer;
}