html, body { 
  height: 100%;
}

#people {
  min-width: 200px;
}

#people .in-group {
  background-color: #72b998;
}

.student {
  background-color: white;
}

.student:not(.in-group):hover {
  background-color: beige; /* TODO: pick a better color */
}

#people-list {
  overflow-y: scroll;
  max-height: 200px; /* TODO: Fix this hack */
}